{% extends "app/layout.html" %}

{% block styles %}
<style rel="stylesheet">

</style>
{% endblock %}

{% block content %}

<h2>Acts</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th class="text-center">Act&nbsp;ID</th>
            <th class="text-center">Title</th>
            <th class="text-center">Votes</th>
            <th class="text-center">Vote</th>
        </tr>
        {% for act in acts %}
        <tr>
            <td>{{ act.act_id }}</td>
            <td><a href="{{ act.url }}" target="_blank">{{ act.title }}</a></td>
            <td>{{ act.votes }}</td>
            <td><a href="#TODO-vote-url">Vote</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="text-warning">No acts found.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
